@charset "UTF-8";

/*
Copyright @ wms布局和模块
*/


/*================== 公用start ==================*/

.model:after,
.tab:after,
.menuList:after,
.articleList:after,
.articleList li:after,
.productList:after,
.productList li .item:after {
	content: '';
	display: table;
	clear: both;
	height: 0;
	visibility: visible;
}

.model,
.tab,
.menuList,
.articleList,
.articleList li,
.productList,
.productList li .item {
	zoom: 1;
}


/*模块标题*/

.tab {
	position: relative;
	z-index: 0;
	border-bottom: 1px solid #e5e5e5;
}

.tab .tab-item {
	position: relative;
	float: left;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
}

.tab .tab-item .tit {
	position: relative;
	float: left;
	padding: 0 18px;
}

.tab .tab-item .tit h2{
	font-size: 16px;
	font-weight: normal;
}

.tab .tab-item .subTit{
	float: left;
	margin-top: 10px;
	margin-left: 8px;
	padding-left: 5px;
	border-left:1px solid #666;
	line-height: 1;
}

.tab .tab-item .subTit a{
	color: #555;
	font-size: 13px;
}

.tab .tab-item .line {
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 1px;
	border-top: 1px solid #b21b00;
}

.tab .current {
	border: 1px solid #e5e5e5;
	border-top-color: #b21b00;
	border-bottom: 0;
}

.tab .current .line {
	border-top-color: #fff;
}

.tab .tab-more {
	position: absolute;
	top: 8px;
	right: 0;
	z-index: 1;
	color: #999;
	font-size: 12px;
}


/*================== 公用end ==================*/


/*================== 布局start ==================*/

.model {
	margin-bottom: 12px;
}


/*二列布局*/

.model-array-2 .model-item {
	width: 50%;
}

.model-array-2 .model-item.fl .model-body,
.model-array-2-73fen .model-item.fl .model-body{
	margin-right: 10px;
}

.model-array-2 .model-item.fr .model-body,
.model-array-2-73fen .model-item.fr .model-body {
	margin-left: 10px;
}

.model-array-2-73fen .model-item.fl{
	width: 70%;
}

.model-array-2-73fen .model-item.fr{
	width: 30%;
}

.model-array-2-73fen .model-item.fl{
	width: 70%;
}

.model-array-2-73fen .model-item.fr{
	width: 30%;
}

.model-array-2-37fen .model-item.fl .model-body{
	margin-right: 20px;
}
.model-array-2-37fen .model-item.fr .model-body {
	margin-left: 20px;
}
.model-array-2-37fen .model-item.fl{
	width: 30%;
}
.model-array-2-37fen .model-item.fr{
	width: 70%;
}

/*三列布局*/

.model-array-3 .model-item {
	width: 33.33%;
}
/*四列布局*/

.model-array-4 .model-item {
	width: 25%;
}

/*五列布局*/

.model-array-5 .model-item {
	width: 20%;
}
.model-array-5 .modelAdd{
	width:154px;
}
.model .model-item .model-body{
	margin:0 10px
}
.model-background{

	background:#e9f2fa ;
	height:134px;
	border:1px dashed #76abe1;
	text-align: center;

	position: relative;
}
.add-icon{
	display:none;
	width:33px;
	height:34px;
	position:absolute;
	right:0;top:0;
	background:#e9f2fa url(../images/add-icon.png) right top no-repeat;
	cursor: pointer;
}
.modelAdd{
	position:relative;
	top:50%;
	margin-top:-21px;
	display:inline-block;
	width:190px;
	height:42px;
	background:#3c88d4;
	border-radius: 2px;
	line-height: 42px;
	color:#e9f2fa;
	font-size:14px;
	cursor: pointer;
}
.modelAdd:hover{background:#2c74bd;transition: all .3s}
.modelAdd i{
	font-style: normal
}
.add{
	display:inline-block;
	width:11px;
	height:11px;
	margin-right:12px;
	background:url(../images/add.png) left center no-repeat;
}


/*================== 布局end ==================*/


/*================== 模块start ==================*/


/*网站导航*/

.nav {
	position: relative;
	z-index: 0;
	height: 50px;
	background: #b21b00;
	font-size: 15px;
}

.nav li {
	position: relative;
	z-index: 1;
	float: left;
	text-align: center;
}

.nav li,
.nav ul li a {
	display: block;
	height: auto;
}

.nav ul li a {
	color: #fff;
	cursor: pointer;
}

.nav ul li a:hover {
	background: #cc1f00;
	text-decoration: none;
}

.nav li.active a {
	background: #cc1f00;
}
.nav li.current .menuList-item .icon{
	display: none;
}

.nav li.current .menuList-item .iconHover{
	display: block;
}

.nav li.current .menuList-item{
	color:#cc1f00 ;
	border-bottom: 1px solid #dc3330;
}

.nav .menuList-item span{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

.nav .menuList-item .icon,
.nav .menuList-item .iconHover{
	display: block;
	margin-top: 8px;
	margin-right: 5px;
}

.nav .menuList-item .hide{
	display: none;
}

.nav .subMenu {
	display: none;
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;
	z-index: 1;
	background: #cc1f00;
}

.nav .subMenu-item,
.nav .subMenu-item a {
	display: block;
	height: 40px;
}

.nav .subMenu-item a {
	line-height: 40px;
}

.nav .subMenu-item a:hover {
	background: #9f1800;
}

.nav-1{float:right;margin-top:20px}
.nav-1 .menuList{border-left:none;}
.nav-1 .menuList li{border:none;height:66px;}
.nav-1 .menuList li:hover{border-bottom:4px solid #ff2b8a }
.nav-1 .navBtn{display:none}
.nav-1 .w{width:auto;}
.nav-1 .menuList .imgHide{display:none;}
.nav-1 li.current .menuList-item{color:#cc1f00 ;
	border-bottom: 4px solid #ff2b8a;
	height:66px;
}



/*文章列表模块*/

.articleList {
	position: relative;
	z-index: 2;
}

.articleList li {
	float: left;
	position: relative;
	font-size: 13px;
}

.articleList li .img {
	display: none;
	float: left;
	background: url(../images/thumb.png) no-repeat center;
	background-size: cover;
}

.articleList li .tit {
	overflow: hidden;
	margin-left: 20px;
	margin-right: 87px;
	color: #6c6c6c;
	line-height: 30px;
	*line-height: 27px;
	white-space: nowrap;
	zoom: 1;
	text-overflow:ellipsis;
}

.articleList li .tit a {
	color: #6c6c6c;
}

.articleList li .txt {
	display: none;
	color: #b2b2b2;
}

.articleList li .time {
	position: absolute;
	top: 0;
	right: 0;
	color: #c0c0c0;
	line-height: 30px;
	*line-height: 27px;
}

.articleList li:hover .tit,
.articleList li:hover .tit a,
.articleList li:hover .time {
	color: #b21b00;
}

.articleList-2 li {
	position: relative;
	padding-top: 6px;
	padding-bottom: 5px;
}

.articleList-2 li .img {
	display: block;
	width: 96px;
	height: 58px;
	margin-left: 44px;
}

.articleList-2 li .img img {
	max-width: 96px;
	max-height: 58px;
	_width: 96px;
	_height: 58px;
}

.articleList-2 li .con {
	overflow: hidden;
	margin-left: 155px;
	line-height: 22px;
	zoom: 1;
}

.articleList-2 li .tit {
	float: none;
	margin-right: 0;
	margin-left: 0;
}

.articleList-2 li .txt {
	display: block;
	white-space: nowrap;
	height: 22px;
	overflow: hidden;
	text-overflow:ellipsis; 
}

.articleList-2 li .time {
	display: none;
}

.articleList-3 .articleList-3-li {
	margin-top: 6px;
	margin-bottom: 6px;
}

.articleList-3 .articleList-3-li .img {
	display: block;
	width: 150px;
	height: 90px;
	margin-left: 44px;
}

.articleList-3 .articleList-3-li .img img {
	max-width: 150px;
	max-height:90px;
	_width: 150px;
	_height: 90px;=
}

.articleList-3 .articleList-3-li .con {
	margin-left: 210px;
}

.articleList-3 .articleList-3-li .txt {
	display: block;
}
.articleList-3 .articleList-3-li .tit {
	margin-left: 0;
}

.articleList-3 li .tit {
	margin-right: 0;
	line-height: 30px;
}

.articleList-3 li .txt {
	height: 44px;
	overflow: hidden;
	margin-top: 10px;
}

.articleList-3 li .time {
	display: none;
}
/*.articleList-4{border:1px solid #dedede;}*/
/*.articleList-4 .articleList{border-bottom: 1px dashed #dedede;padding:10px}*/

.articleList-5 li .tit{float:left;margin-right:10px;}
.articleList-5 li .txt p span{margin-right:10px;}
.articleList-5 li .txt{float:left;display:inline-block;}
/*产品列表*/
.productList-1{
	position: relative;
}
.productList-1 .slider-nav{
	top: -24px;
	right: 50px;
}
.productList-1 .slider-nav a{
	border:1px solid #ddd;
}
.productList {
	position: relative;
	overflow: hidden;
}

.productList li {
	float: left;
	position: relative;
	z-index: 1;
	margin-bottom: 12px;
	/*background: url(../images/thumb.png) no-repeat center;*/
	background-size: cover;
	text-align: center;
}

.productList li .img,
.productList li .item{
	margin-left: 12px;
}

.productList li .img img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.productList li .con{
	position: relative;
	margin-top:-30px;
	margin-left:12px;
}

.productList li .con .tit {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

.productList li .con .back {
	width: 100%;
	height: 30px;
	background: #000;
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	-khtml-opacity: 0.65;
	opacity: 0.65;
}


.productList li .con .tit {
	top: 0;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.productList li .con .tit a{
	color: #fff;
}

.productList li .item{
	height: 18px;
	padding-top: 4px;
	padding-left: 6px;
	color: #888;
}
.productList li .item span{
	display: inline-block;
	line-height: 1;
}
.productList li .item .time{
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #888;
	
}

.productList li .item .time .timeIcon{
	display: inline-block;
	margin-right: 3px;
	width: 12px;
	height: 11px;
	background: url(../images/time_icon.png) no-repeat;
	vertical-align: 0px;
	*vertical-align: 4px;
}

.productList-div{position: relative;}



.productList-2 li,.productList-3 li{text-align: left;}
.productList-2 li .con{margin-top:8px;}
.productList-2 li .con .tit,.productList-3 li .con .tit{color:#585858;position: relative;text-align: left}
.productList-2 li .con .tit a,.productList-3 li .con .tit a{color:#585858;}
.productList-2 li .back,
.productList-3 li .back{display:none;}
.productList-2 li .con .describe,.productList-3 li .con .describe{color:#a4a4a4;}
.productList-2 li .con  .txt{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#a4a4a4;}


.productList-3 li .img{width:119px;float:left}
.productList-3 li .con .tit{text-align: left;}
.productList-3 li .con{float:left;width:185px;margin-top:0}
.productList-3 li .con  .txt{color:#a4a4a4;}

.productList-4 li .con .tit{text-indent: 12px;text-align: left;}
.productList-4 li .con .tit a{color:#848484}



.layout-list1 li{
	width: 100%;
}
.layout-list2 li{
	width: 50%;
}

.layout-list3 li{
	width: 33.33%;
	*width:33.3%;
}

.layout-list4 li{
	width: 25%;
}


/*自定义图文*/

.imgText {
	overflow: hidden;
}

.imgText .imgText-img{
	display: none;
}

.imgText-3 .imgText-img,
.imgText-4 .imgText-img,
.imgText-5 .imgText-img,
.imgText-6 .imgText-img{
	display: block;
}

.imgText-6 .imgText-img{
	float: left;
}

.imgText-6 .imgText-content{
	overflow: auto;
}

.imgText-6 .imgText-tit{
	display: block;
	position: relative;
	margin-top: -40px;
	height: 40px;
	background: #e62b10;
	color: #fff;
	line-height: 40px;
	text-align: center;
}

.imgText-4 .imgText-img,
.imgText-4 .imgText-content{
	float: left;
}

.imgText-5 .imgText-img,
.imgText-5 .imgText-content{
	float: right;
}


/*================== 模块end ==================*/


/*slider*/

body .slider-banner {
	padding-top: 0px;
	margin-bottom: 12px;
}

.slider {
	position: relative;
	z-index: 0;
	margin: 0 auto;
}

.slider-pic {
	position: relative;
	z-index: 1;
	height: 100px;
	overflow: hidden;
}

.slider ul li {
	display: block;
}

.slider ul li a {
	display: block;
	vertical-align: middle;
}

.slider ul li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.slider .slider-background,
.slider-pageBackground{
	background: #000;
	filter:alpha(opacity=20); 
	-moz-opacity:0.2; 
	opacity:0.2;
} 
.slider .slider-background {
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	height: 30px;
}

.slider .slider-title {
	position: absolute;
	bottom: 0;
	left: 10px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}

.slider .slider-title a {
	color: #fff;
	font-size: 16px;
}
.slider-nav{
	position: absolute;
	bottom: 0;
	overflow: hidden;
}
.slider-nav a {
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	background: #666;
	border-radius: 5px;
	overflow: hidden;
	font-size: 0;
	margin-right: 3px;
}
.slider-nav a.current {
	background: #fff;
}

.slider-page a,
.slider-pageBackground,
.slider-pageArrow{
	display: block;
	width: 28px;
	height: 60px;
}

.slider-page a {
	position: absolute;
	bottom: 50%;
	z-index: 1;
	margin-bottom: -31px;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
	text-align: center;
	line-height: 60px;
}

.slider-page a:hover {
	color: #fff;
	text-decoration: none;
}

.slider-pageArrow{
	position: absolute;
	top: 0;
	left: 0;
}

.slider-page a.slider-prev {
	left: 0;
}

.slider-page a.slider-next {
	right: 0;
}

.slider-1 .slider-title {
	display: none;
}

.slider-1 .slider-nav {
	left: 0;
	bottom: 4px;
	width: 100%;
	text-align: center;
}

.slider-2 .slider-nav{
	right:0;
	bottom:2px;
	margin-right: 10px;
}
.slider-2 .slider-nav a{
	width: 16px;
	height: 16px;
	border-radius: 0;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}

.slider-2 .slider-nav a.current{
	color: #000;
}

.slider-3 .slider-background{
	display: none;
}

.slider-3 .slider-title {
	display: none;
}

.slider-3 .slider-nav {
	width: 400px;
	height: 60px;
}

.slider-3 .slider-nav a {
	float: left;
	width: 92px;
	height: 44px;
	margin: 7px 3px 0;
	padding: 1px;
	border-radius: 0;
	background: none;
	font-size: 0;
}

.slider-3 .slider-nav a img {
	display: block;
	width: 92px;
	height: 44px;
}
.slider-3 .slider-nav a span.back{
	width: 93px;
	height: 45px;
	position: absolute;top:0;left:0;background:#000;filter:alpha(opacity=60); -moz-opacity:0.6;opacity:0.6;
}

.slider-3 .slider-nav a.current span.back {
	background: none;
	opacity: 1;
}

.slider-3 .slider-page a {
	bottom: 0;
	margin-bottom: 0;
}


/*operation*/

.operation {
	display: none;
	position: absolute;
	top: 0;
	left: -5px;
	z-index: 0;
	margin-top: -2px;
	padding-right: 6px;
	border: 2px dashed #009cff;
	background: none;
}

.operation .operation-box {
	position: relative;
	*position: absolute;
	top: -2px;
	left: -86px;
	z-index: 10;
	overflow: hidden;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	line-height: 0;
}

.operation .operation-box .btn:first-child {
	border-left: 0;
	border-top:0;
}

.operation .operation-box .btn {
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	border-top: 1px solid #abd0f4;
	border-radius: 0;
	font-size: 12px;
}

.operationTop .operation-box,
.operationTopBanner .operation-box {
	top: -24px;
	left: -2px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
}

.operationTop .operation-box .btn,
.operationTopBanner .operation-box .btn {
	display: inline-block;
	border-top: 0;
	border-left: 1px solid #abd0f4;
	width: 80px;
	height: 24px;
	line-height: 24px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}


[data-model="nav"] .operation {
	padding: 0;
	left: 0;
}

[data-model="focus"],
[data-model="imgText"],
[data-model="list"],
[data-model="product"] {
	padding-top: 10px;
}

.imgText {
	position: relative;
	z-index: 10;
}

[data-model="footer"] .operation {
	left: 0;
	padding: 0;
}

[data-model="footer"] .w {
	position: relative;
	z-index: 10;
}

.operation01 {
	display: none;
	position: absolute;
	top: 0;
	top:-10px\0;
	right: 0;
	z-index: 1;
	width: auto;
	height: auto;
}

.operation01 .operation-box a {
	display: inline-block;
	width: 29px;
	height: 26px;
	margin-left: 1px;
	border: 1px solid #5aa9fa;
	border-radius: 2px;
	background: url(../images/icon.png) no-repeat #3e89d5;
	font-size: 0;
	cursor: pointer;
}

.operation01 .operation-box a.btn-edit {
	background-position: 0 0;
}

.operation01 .operation-box a.btn-del {
	background-position: -30px 0;
}

.operation01 .operation-box a.btn-top{
	background-position: -59px 0;
}

.operation01 .operation-box a:hover {
	background-color: #367bc1;
}


/*底部*/

.footer [data-model="imgText"] {
	padding-top: 0;
}

/*breadcrumb*/
.breadcrumb{
	height: 30px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 30px;
	margin-bottom: 12px;
}


/*分页*/
#page{ text-align: center; margin-top: 24px; }
#page span, #page a{ display: inline-block; margin-right: 5px; border:1px solid #ccc; border-radius: 3px; height: 26px; line-height: 24px; padding:0 8px; }
#page .current{ color: #fff; background: #da2724; border-color:#da2724; }
#page a:hover{ text-decoration: none; border:1px solid #da2724; }
#page span.page-more{ border:0; }
#page .page-prev, #page .page-next{ position: relative; padding-left: 15px; }
#page .page-next{ padding-right: 15px; padding-left: 8px; }
#page .page-text{ padding:0 8px; }
#page .page-prev s{ margin-right: 4px; }
#page span.page-prev, #page span.page-next{ color: #b3b3b3; }
#page .page-prev s, #page .page-prev s i, #page .page-next s, #page .page-next s i{ position: absolute; top:7px; border-width: 6px; border-style: solid; width: 0; height: 0; line-height: 0; display: inline-block; }
#page .page-prev s, #page .page-prev s i{ left:0; border-color: transparent #ccc transparent transparent; }
#page .page-next s, #page .page-next s i{ right:0; border-color: transparent  transparent transparent #ccc; }
#page .page-prev s i, #page .page-next s i{ position: absolute; }
#page .page-prev s i{ top:-6px; left:-3px; border-color: transparent #fff transparent transparent; }
#page .page-next s i{ top:-6px; right:-3px; border-color: transparent  transparent transparent #fff; }
#page a.page-prev s{ border-color: transparent #da2724 transparent transparent; }
#page a.page-next s{ border-color: transparent transparent transparent #da2724; }


/*mainTitle*/
.mainTitle{
	min-height: 40px;
	margin-top: 8px;
	font-size: 20px;
}


/*content*/
.content-head{
	padding:10px 0;
	text-align: center;
}
.content-head h1{
	font-size: 20px;
	margin-bottom: 8px;
}

.content-bar{
	color: #666;
}

.content-bar .time,
.content-bar .source{
	margin-right: 10px;
}

.content-body{
	padding: 20px 0 15px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}
.content-body .content{
	line-height: 24px;
}
.content-footer .other{
	margin-top: 13px;
	line-height: 24px;
}
.content-footer .other a{
	color: #777;
}


/*videoPlay*/
.videoPlay{
	position: relative;
	overflow: hidden;
}

.videoPlay .videoPlay-head{
	margin-bottom: 12px;
	display: none;
}
.videoPlay .videoPlay-head .item{
	float: left;
	padding: 6px 10px;
	margin-right: 10px;
	background: #eee;
	border:1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	
}

.videoPlay img,
.videoPlay video,
.videoPlay embed{
	max-width: 100%;
}
.navBtn{width:1080px;margin:0 auto;position:relative;display:none;}
.navBtnPre,.navBtnNext{display:inline-block;width:24px;height:50px;
	border-radius: 3px;font-size:22px;font-weight: bold;background:#eee;color:#444;font-family: simsun;
	line-height:50px;text-align: center;cursor: pointer;z-index: 100;}
.navBtnPre{position:absolute;left:0;}
.navBtnNext{position:absolute;right:0;}
.navBtn .active{border:1px dashed #aaa;background:#eee;}
/*logo标题*/
.logo-text{position:absolute;left:0;top:10px;font-size:20px;width:200px;}
.logo-text p{line-height:24px;}
/* 视频播放修复 */
.zIndex1{
	z-index: 1;
	position: relative;
}


