<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>弹窗框</title>
		<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/template_manage.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/pop.css" />
	</head>
	<body>
		<div class="deleteMsgPop">
	   		<div class="deleteMsgPop-tit">确定删除该文件？</div>
	    </div><!--deleteMsgPop-->
	</body>
</html>