<div class="focusPop productPop">
	<div class="pop-head pop-tab-title">
		<a data-tab="01" class="active" href="javscript:;">常规</a>
	</div><!--pop-head-->
	<div class="pop-body">
		<div class="popTabContent-item popTabContent-01">
			<div class="pop-form m-a">
				<div class="popForm-item">
					<label>模块标题：</label>
					<div class="label-con">
						<input class="inputText" type="text" />
					</div>
				</div>
				<div class="popForm-item">
					<label>图层样式：</label>
					<div class="label-con">
						<div class="imagesText-css">
							<img data-css="0" class="active" src="../../images/product_img01.png" alt="">
							<img data-css="1" src="../../images/product_img02.png" alt="">
						</div>
						<div class="attention-msg">
							注：轮播时显示不超过8张图片（建议图片尺寸为100px*200px，大小不超过1MB。）
						</div>
					</div>
				</div>
				<div class="popForm-item">
					<label>当前图片：</label>
					<div class="label-con">
						<div class="lable-head">
							<div class="lable-title">
								(所属图片：XXXX)
								<div class="lable-btn">
									<a href="javascript:;" class="btn dib btn-border-gray selectImgBookBtn">选择图册</a>
									<a href="javascript:;" class="btn dib btn-border-gray addImgBtn">添加图片</a>
								</div>
							</div>
							<div class="focus-pic">
								<ul class="popImgList">
									<li data-tab="1">
										<div class="img">
											<img src="../pc/企业网站模板/红色/政府类/images/focus_img.jpg" alt="未命名.jpg" title="未命名.jpg">
											<div class="move-img"><a href="javascript:;" class="move-left"></a><a href="javascript:;" class="move-right"></a></div>
											<div class="del-img"><a href="javascript:;"></a></div>
										</div>
									</li>
									<li data-tab="2">
										<div class="img">
											<img src="../pc/企业网站模板/红色/政府类/images/focus_img.jpg" alt="未命名.jpg" title="未命名.jpg">
											<div class="move-img"><a href="javascript:;" class="move-left"></a><a href="javascript:;" class="move-right"></a></div>
											<div class="del-img"><a href="javascript:;"></a></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="focus-tabContent">
					<div class="popForm-item">
						<label>图片名称：</label>
						<div class="label-con">
							<input class="inputText" type="text" />
						</div>
					</div>
					<div class="popForm-item">
						<label>基本描述：</label>
						<div class="label-con">
							<textarea class="textarea" name=""></textarea>
						</div>
					</div>
					<div class="popForm-item">
						<label>跳转方式：</label>
						<div class="label-con">
							<div class="skip-radio">
								<span class="radio"><input type="radio" name="skip" id="" />默认</span>
								<span class="radio"><input type="radio" name="skip" id="" />自定义</span>
								<span class="radio"><input type="radio" name="skip" id="" />不跳转</span>
							</div>
						</div>
					</div>
					<div class="popForm-item">
						<label>链接地址：</label>
						<div class="label-con">
							<input class="inputText" type="text" />
							<a href="javacript:;" class="btn dib btn-border-gray">设置链接</a>
						</div>
					</div>
					<div class="popForm-item">
						<label>详细描述：</label>
						<div class="label-con">
							<div class="editor-box">
								编辑器
							</div>
						</div>
					</div>
				</div><!--focus-tabContent-->
			</div><!--pop-list-->
		</div><!--popTabContent-->
	</div><!--pop-body-->
</div><!--focus-body-->