<div class="popUpload">
	<div class="pop-head pop-tab-title">
		<a data-tab="01" class="active">上传</a>
	</div><!--pop-head-->
	<div class="pop-body">
		<div class="popTabContent-item popTabContent-01">
			<div class="upload-img fl">
				<div class="popContent-head">
					<a href="javacript:;" class="btn dib btn-border-gray">文件上传</a>
				</div>
				<div class="popContent-body">
					<ul class="popImgList">
						<li>
							<div class="img">
								<img src="../pc/企业网站模板/红色/政府类/images/focus_img.jpg" alt="未命名.jpg" title="未命名.jpg" />
								<div class="dui-img"><p></p></div>
								<div class="del-img"><a href="javascript:;"></a></div>
							</div>
							<div class="tit editor"><div class="p">未命名.jpg</div></div>
						</li>
					</ul>
					<div class="msg" style="display:none">点击“上传图片”按钮开始上传</div>
				</div>
				<div class="popPage">
					<span class="prev">上一页</span><a href="javascript:;">上一页</a><span class="page">1\1页</span><a href="next">下一页</a><span class="next">下一页</span>
				</div>
			</div>
			<div class="select-img fr">
				<div class="popContent-head">
					待添加的文件（0\1）
				</div>
				<div class="popContent-body">
					<ul class="popImgList">
						<li>
							<div class="img">
								<img width="89" height="58" src="../pc/企业网站模板/红色/政府类/images/focus_img.jpg" alt="未命名.jpg" title="未命名.jpg" />
								<div class="del-img"><a href="javascript:;"></a></div>
							</div>
							<div class="tit"><div class="p">未命名.jpg</div></div>
						</li>
						<li>
							<div class="img">
								<img width="89" height="58" src="../pc/企业网站模板/红色/政府类/images/focus_img.jpg" alt="未命名.jpg" title="未命名.jpg" />
								<div class="del-img"><a href="javascript:;"></a></div>
							</div>
							<div class="tit"><div class="p">未命名.jpg</div></div>
						</li>
					</ul>
				</div>
			</div>
		</div><!--popTabContent-->
		<div class="progress">
			<div class="progress-head">
				正在上传
			</div>
			<div class="progress-body">
				<div class="progress-bar">
					<div class="progress-background" style="width:90.85%"></div>
				</div>
				<div class="progress-num">90.85%</div>
			</div>
	        <div class="progress-foot">
				<div class="progress-txt fl">文件大小：6.72KB</div>
				<div class="progress-cancel fr"><a href="javascript:;">取消</a></div>
			</div>
	  </div><!--progress-->
	</div><!--pop-body-->
</div><!--popUpload-body-->
