.main-cotainer{
	width:100%;
	height:auto;
	overflow: hidden;
	margin-top:20px;
	margin-bottom: 20px;
}
.main{
	width:1200px;
	margin:0 auto;
	clear: both;
}
/*左侧焦点图开始*/
.cloumn-focus{
	float:left;
	width:432px;
	height:200px;
	border-radius: 3px;
	position: relative;
}
.cloumn-focus img{
	float:left;
}
.label{
	display: block;
	width:77px;
	height:76px;
	background: url(../images/label_image.png) center no-repeat;
	position: absolute;
	top:-2px;
	left:0;
}/*左侧焦点图结束*/

/*右侧网站列表开始*/
.column-list{
	width:747px;
	height:200px;
	overflow: auto;
	border-radius: 3px;
	float:right;
	background:#fff;
}
.empt-flag{
	font-size:17px;
	color:#e1e1e1;
	font-weight: bolder;
	height: 200px;
	line-height: 200px;
	background:url(../images/empty_flag.png) 270px center no-repeat;
	padding-left:60px;
	text-align: center;
}
.column-list-view-item{
	padding:0 20px;
	overflow:hidden;
	height:59px;
	line-height: 60px;
	border-bottom: 1px solid #e3e4e5;
}
.column-list-view-item:hover{
	background:#f8f8f8;
}
.column-list-view-item h2{
	font-weight: normal;
	font-size:13px;
	color:#999999;
	float: left;
}
.admin-btn{
	float:right;
	width:115px;
	height:34px;
	line-height: 34px;
	background:#60b58e;
	font-size:13px;
	color:#fff;
	text-align: center;
	margin-top: 13px;
	text-decoration: none;
	cursor: pointer;
}
.admin-btn:hover{
	background:#78aaf1;
}/*右侧网站列表结束*/

/*流程图开始*/
.column-bottom{
	background:#fff;
	margin-top: 20px;
	float: left;
	height:424px;
	position: relative;
}
.column-bottom img{
	float:left;
}
.create-btn{
	display: block;
	width:380px;
	height:42px;
	position: absolute;
	left:50%;
	margin-left:-190px;
	border:1px solid #ff9c00;
	text-align: center;
	line-height: 44px;
	border-radius: 3px;
	bottom:45px;
	color:#FF9C00;
	font-size: 13px;
}
.create-btn:hover{
	background:#FF9C00;
	color:#fff;
	cursor: pointer;
}
